@import "../../_globalColor";

.game-heading {
  font-size: 56px;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.game-subtitle {
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 50px;
}
.subTitle {
  color: $subTitle;
}

.achievement-cards-div {
  display: flex;
  flex-wrap: wrap;        // wrap to next line if too many cards
  justify-content: center; // center cards horizontally
  gap: 20px;              // space between cards
}

/* Media Query */
@media (max-width: 1380px) {
  .game-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .game-heading {
    font-size: 30px;
    text-align: center;
  }
  .game-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
}
